.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px blueviolet;
}
.note
{
    font-size: 15px;
    color: black;

}
.copy_right_footer
{
    position: fixed;
    color: rgba(17, 234, 173, 0.684);
    bottom: 0;
    width: 100%;
    background-color: #000000;
    line-height: 3;
    text-align: center;
    font-size: 15px;
}
canvas
{
    border: 5px solid rgba(17, 234, 173, 0.684);
    border-radius: 20px;
    box-shadow: 8px 8px 8px gray; 
}
